<div class="body">
    <!-- Aranżacja wnętrz -->
    <section class="sect13">
      <div class="bg1 box">
        <div class="images-box">
          <img class="image1" src="assets\pictures\aranżacja wnętrz\sypialnia2.jpg">
          <img class="image2" src="assets\pictures\aranżacja wnętrz\łazienka3.png">
        </div>
      </div>
      <div class="box2">
        <p class="header">Aranżacja wnętrz.</p>
        <div class="text-box">
          <p class="text">Aranżacja wnętrza wybranych pomieszczeń mieszkania wykonana w ramach zajęć na 3 roku studiów.<br>
            Materiałami przewodnimi przy tworzeniu projektu było drewno, beton i butelkowo zielony welur.</p>
        </div>
      </div>
      <div class="bg3 box">
        <div class="images-box">
          <img class="image1" src="assets\pictures\aranżacja wnętrz\kuchnia2.jpg">
          <img class="image2" src="assets\pictures\aranżacja wnętrz\salon1.jpg">
        </div>
      </div>
    </section>

    <!-- Obiekt modułowy -->
    <section class="sect14">
      <div class="box1">
        <p class="header">Obiekt modułowy.</p>
        <div class="text-box">
          <p class="text">Projekt obiektu modułowego przeznaczonego do przestrzeni publicznej. Konstrukcja<br>
            ma na celu zapewnienie jak największej ilości miejsca do relaksu na świeżym powietrzu.</p>
        </div>
        <img src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy.png">
      </div>
      <div class="box2">
        <img class="image1" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 4.png">
        <img src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 6.png">
        <img class="image2" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 5.png">
      </div>
    </section> 
</div>