<div class="body" ui-view="main" autoscroll="false">
  
    <!-- Aranżacja wnętrz -->
    <section class="cont-1">
      <div class="title">
        <p class="header">Aranżacja wnętrz.</p>
        <div class="text-box">
          <p class="text">Aranżacja wnętrza wybranych pomieszczeń mieszkania wykonana w ramach zajęć na 3 roku studiów.Materiałami przewodnimi przy tworzeniu projektu było drewno, beton i butelkowo zielony welur.</p>
        </div>
      </div>
      <div class="images">
        <div class="img-box box-1">
          <img class="image-1" src="assets\pictures\aranżacja wnętrz\sypialnia2.jpg">
          <p class="text">Sypialnia</p>
        </div>
        <div class="img-box box-2">
          <img class="image-2" src="assets\pictures\aranżacja wnętrz\łazienka3.png">
          <p class="text">Łazienka</p>
        </div>
        <div class="img-box box-3">
          <img class="image-3" src="assets\pictures\aranżacja wnętrz\kuchnia2.jpg">
          <p class="text">Kuchnia</p>
        </div>
        <div class="img-box box-4">
          <img class="image-4" src="assets\pictures\aranżacja wnętrz\salon1.jpg">
          <p class="text">Salon</p>
        </div>
      </div>
      <span class="bottom-line"></span>
    </section>

    <!-- Obiekt modułowy -->
    <section class="cont-2">
      <div class="title">
        <p class="header">Obiekt modułowy.</p>
        <div class="text-box">
          <p class="text">Projekt obiektu modułowego przeznaczonego do przestrzeni publicznej. Konstrukcja ma na celu zapewnienie jak największej ilości miejsca do relaksu na świeżym powietrzu.</p>
        </div>
      </div>
      <div class="images">
        <img class="image-1" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy.png">
        <img class="image-2" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 6.png">
        <img class="image-3" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 4.png">
        <img class="image-4" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 5.png">
      </div>
    </section> 
</div>