<div class="body">  

    <!-- Strona główna -->
    <section class="main-page">
      <div class="horizontal-box"></div>
      <div class="horizontal-border"></div>
      <div class="box">
        <p class="title header">Weronika Puchrowicz</p>
        <div class="sub-box">
          <p class="sub-title header">Portfolio.</p>
        </div>
      </div>

    </section>
  
    <!-- O mnie -->
    <section class="about">
      <p class="header">O mnie.</p>
      <img src="assets\pictures\martwa natura\15.jpg" class="image" alt="selfie">
      <div class="info-box">
        <p class="text">Nazywam się Weronika Puchrowicz i mam
          22 lata. Jestem studentką czwartego roku
          wzronictwa przemysłowego na
          Politechnice Opolskiej. Swoją artystyczną
          karierę zamierzam rozwijać w kierunku
          aranżacji wnętrz lub projektowania
          reklamy. Prywatnie interesuję się trendami
          modowymi i uprawą egzotycznych roślin
          doniczkowych.
        </p>
      </div>
    </section>

    <section class="tiles">
        <div class="tile-box" (click)="routeDraws()">
          <div class="wall-left-top"></div>
          <div class="wall-right-bottom"></div>
          <p>RYSUNKI</p>
        </div>
        <div class="tile-box">
          <div class="wall-left-top"></div>
          <div class="wall-right-bottom"></div>
          <p>GRAFIKA<br>2D</p>
        </div>
        <div class="tile-box">
          <div class="wall-left-top"></div>
          <div class="wall-right-bottom"></div>
          <p>GRAFIKA<br>3D</p>
        </div>
    </section>

    <section class="footer">
      <div class="contact">
        <p>Weronika Puchrowicz</p>
        <p>ul. Kolejowa </p>
        <p>Turza</p>
      </div>
      <div class="mail">
        <p>Napisz do mnie maila</p>
        <form class="send-mail">
          <input type="text" placeholder="Email">
          <input type="text" placeholder="Imię i nazwisko">
          <input type="text" placeholder="Notka">
          <button type="submit">Wyślij</button>
        </form>
      </div>
    </section>
  
    <!-- Struktury -->
    <!-- <section class="sect3 hidden">
      <p class="header">Struktury.</p>
      <div class="text-box">
        <p class="text">Rysunki struktur wykonane<br>
        ołówkiem na podstawie zdjęć<br>
        wykonanych w dużym przybliżeniu.</p>
      </div>
      <div class="image-box box1">
        <img class="image1" src="assets\pictures\struktury\19.jpg">
      </div>
      <div class="image-box box2">
        <img class="image2" src="assets\pictures\struktury\20.jpg">
      </div>
      <div class="image-box box3">
        <img class="image3" src="assets\pictures\struktury\21.jpg">
      </div>
    </section> -->

    <!-- Rysunek -->
    <!-- <section class="sect4 hidden">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <p class="header">Rysunek.</p>
      <div class="text-box">
        <p class="text">Rysunki wykonane techniką<br>
          rysunkową w celu zapoznania się<br>
          z anatomią ludzkiej dłoni.</p>
      </div>
      <img class="image1" src="assets\pictures\dłonie\1.png">
      <img class="image2" src="assets\pictures\dłonie\2.png">
      <img class="image3" src="assets\pictures\dłonie\3.png">
      <img class="image4" src="assets\pictures\dłonie\4.png">
      <img class="image5" src="assets\pictures\dłonie\5.png">
      <img class="image6" src="assets\pictures\dłonie\6.png">
      <img class="image7" src="assets\pictures\dłonie\7.png">
      <img class="image8" src="assets\pictures\dłonie\8.png">
      <img class="image9" src="assets\pictures\dłonie\9.png">
    </section> -->

    <!-- Martwa natura -->
    <!-- <section class="sect5 hidden">
      <div class="bg1"></div>
      <div class="bg2"></div>
      <img class="image1" src="assets\pictures\martwa natura\15.jpg">
      <img class="image2" src="assets\pictures\martwa natura\16.jpg">
      <p class="header">Martwa natura.</p>
      <div class="text-box">
        <p class="text">Prace wykonane techniką rysunkową<br>
          przedstawiające martwą naturę.</p>
      </div>
    </section> -->

    <!-- Miejski rytm -->
    <!-- <section class="sect6">
      <div class="bg1">
        <p class="header">Miejski rytm.</p>
        <div class="text-box">
          <p class="text">Praca wykonana techniką ołówkową. Rysunek<br>
            przedstawia Cour des Voraces, budynek z<br>
            dziedzińcem w dzielnicy Pentes, w 1. dzielnicy Lyonu.</p>
        </div>
      </div>
      <img src="assets\pictures\miejski_rytm.jpg">
    </section> -->

    <!-- Opole -->
    <!-- <section class="sect7">
      <div class="bg1">
        <p class="header">Opole.</p>
        <div class="text-box">
          <p class="text">Grafika przedstawiająca miasto Opole<br>
            wykonana w programie graficznym Affinity.</p>
        </div>
      </div>
      <div class="image-box">
        <img src="assets\pictures\opole.png">
      </div>
    </section> -->

    <!-- Grafika -->
    <!-- <section class="sect8">
      <div class="box1">
        <img src="assets\pictures\grafika\34.jpg">
      </div>
      <div class="box2">
        <div class="image-box">
          <img src="assets\pictures\grafika\18.png">
        </div>
        <div class="text-box">
          <p class="text">Wzór stworzony na podstawie graficznego,<br>
            uproszczonego wyglądu kminku.</p>
        </div>
        <p class="header">Grafika.</p>  
      </div>
    </section> -->

    <!-- Smart planer -->
    <!-- <section class="sect9">
      <div class="box1">
        <div class="sub-box">
          <div class="box-bg"></div>
          <p class="header">Smart planer.</p>  
        </div>
        <div class="images-box">
          <img src="assets\pictures\smartplaner\1.png">
          <img src="assets\pictures\smartplaner\2.png">
          <img src="assets\pictures\smartplaner\3.png">
        </div>
      </div>
      <div class="box2">
        <img src="assets\pictures\smartplaner\4.png">
        <div class="text-box">
          <p class="text">Projekt szaty graficznej programu<br>
            użytkowego, planeru internetowego.</p>
        </div>
      </div>
    </section> -->

    <!-- Ulotka -->
    <!-- <section class="sect10">
      <div class="box1">
        <div class="image-box">
          <img src="assets\pictures\ulotka\1.jpeg">
        </div>
      </div>
      <div class="box2">
        <div class="image-box">
          <img src="assets\pictures\ulotka\2.jpeg">
        </div>
        <div class="text-box">
          <p class="text">Ulotka wykonana w celu przedstawienia twórczości.</p>
        </div>
      </div>
      <div class="box3">
        <div class="image-box">
          <img src="assets\pictures\ulotka\3.jpeg">
        </div>
        <p class="header">Ulotka.</p>
      </div>
    </section> -->

    <!-- Ekolampa -->
    <!-- <section class="sect11">
      <div class="box1">
        <img class="image1" src="assets\pictures\lampa\17b.jpg">
        <img class="image2" src="assets\pictures\lampa\17a.jpg">
        <p class="header">Ekolampa.</p>
      </div>
      <div class="box2">
        <div class="text-box">
        <p class="text">Lampa w całości wykonana z metalowych kapsli<br>
          z butelek po napojach. Jako element oświetleniowy<br>
          wykorzystano sznur lampek choinkowych. Dzęki<br>
          przestrzeniom powstałym pomiędzy sklejonymi<br>
          kapslami uzyskany został niezwykły efekt świetlny.</p>
      </div>
        <img src="assets\pictures\lampa\17c.jpg">
      </div>
      <div class="box3">
        <img src="assets\pictures\lampa\17d.jpg">
      </div>
    </section> -->

    <!-- Hard Beans -->
    <!-- <section class="sect12">
      <div class="box1">
        <img src="assets\pictures\praktyki\1.png">
        <img src="assets\pictures\praktyki\2.png">
        <img src="assets\pictures\praktyki\3.png">
      </div>
      <div class="box2">
        <div class="sub-box">
          <p class="header">Hard Beans.</p>
          <div class="text-box">
            <p class="text">Projekty etykiet na opakowania nowej linii kosmetyków na bazie fusów po kawie<br>
              Firmy Hard Beans Coffe Roaster stworzone w ramach praktyk studenckich.</p>
          </div>
        </div>
        <div class="images-box">
          <img class="image1" src="assets\pictures\praktyki\sample_scrub.png">
          <img class="image2" src="assets\pictures\praktyki\sample_oil.png">
        </div>
      </div>
    </section> -->

    <!-- Aranżacja wnętrz -->
    <!-- <section class="sect13">
      <div class="bg1 box">
        <div class="images-box">
          <img class="image1" src="assets\pictures\aranżacja wnętrz\sypialnia2.jpg">
          <img class="image2" src="assets\pictures\aranżacja wnętrz\łazienka3.png">
        </div>
      </div>
      <div class="box2">
        <p class="header">Aranżacja wnętrz.</p>
        <div class="text-box">
          <p class="text">Aranżacja wnętrza wybranych pomieszczeń mieszkania wykonana w ramach zajęć na 3 roku studiów.<br>
            Materiałami przewodnimi przy tworzeniu projektu było drewno, beton i butelkowo zielony welur.</p>
        </div>
      </div>
      <div class="bg3 box">
        <div class="images-box">
          <img class="image1" src="assets\pictures\aranżacja wnętrz\kuchnia2.jpg">
          <img class="image2" src="assets\pictures\aranżacja wnętrz\salon1.jpg">
        </div>
      </div>
    </section> -->

    <!-- Obiekt modułowy -->
    <!-- <section class="sect14">
      <div class="box1">
        <p class="header">Obiekt modułowy.</p>
        <div class="text-box">
          <p class="text">Projekt obiektu modułowego przeznaczonego do przestrzeni publicznej. Konstrukcja<br>
            ma na celu zapewnienie jak największej ilości miejsca do relaksu na świeżym powietrzu.</p>
        </div>
        <img src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy.png">
      </div>
      <div class="box2">
        <img class="image1" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 4.png">
        <img src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 6.png">
        <img class="image2" src="assets\pictures\obiekt wypoczynkowy\obiekt modułowy 5.png">
      </div>
    </section>  -->
  </div>