<div class="body" id="home">

  <!-- Strona główna -->
  <section class="main">
    <div class="title">
      <p class="header name">Weronika Puchrowicz</p>
      <div class="lines">
        <span class="bottom-line line-1"></span>
        <span class="bottom-line line-2"></span>
        <span class="bottom-line line-3"></span>
      </div>
    </div>
    <div class="about">
      <div class="info">
        <p class="header">O mnie.</p>
        <div class="text-box">
          <p class="text">Nazywam się Weronika Puchrowicz i mam
            23 lata. Jestem absolwentką Wzronictwa Przemysłowego na
            Politechnice Opolskiej. Naukę kontynuuję na studiach magisterkich na kierunku Komunikacja Promocyjno-Wizerunkowa znajdującym się na Uniwersytecie Papieskim Jana Pawła II w Krakowie.
            <br>Swoją artystyczną karierę zamierzam rozwijać w kierunku
            aranżacji wnętrz lub projektowania
            reklamy. Prywatnie interesuję się trendami
            modowymi i uprawą egzotycznych roślin
            doniczkowych.
          </p>
        </div>
      </div>
        <div class="box" id="about">
          <div class="image-box" id="love"></div>
          <div class="image-background"></div>
        </div>
    </div>
  </section>

  <!-- Odnośniki -->
  <section class="tiles" id="collection">
    <div class="tile-box" routerLink="/drawings" routerLinkActive='active'>
      <div class="wall-left-top"></div>
      <div class="wall-right-bottom"></div>
      <p>RYSUNKI</p>
    </div>
    <div class="tile-box" routerLink="/graphics-2D" routerLinkActive='active'>
      <div class="wall-left-top"></div>
      <div class="wall-right-bottom"></div>
      <p>GRAFIKA<br>2D</p>
    </div>
    <div class="tile-box" routerLink="/graphics-3D" routerLinkActive='active'>
      <div class="wall-left-top"></div>
      <div class="wall-right-bottom"></div>
      <p>GRAFIKA<br>3D</p>
    </div>
  </section>

  <!-- Formularz kontaktowy -->
  <section class="contact-form">
    <div id="letter">
      <div class="wrapper centered">
        <div class="envelope back"></div>
        <article class="letter">
          <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <div class="side">
              <h1>Skontaktuj się ze mną.</h1>
              <p>
                <textarea name="message" placeholder="Twoja wiadomość" [(ngModel)]="message"></textarea>
              </p>
            </div>
            <div class="side">
              <p>
                <input type="text" name="name" #nameInput="ngModel" placeholder="Twoje imię i nazwisko"
                  [(ngModel)]="name" required>
              </p>
              <div class="is-error" *ngIf="nameInput.invalid && nameInput.touched">Twoje dane są wymagane.</div>
              <p>
                <input type="email" name="email" #emailInput="ngModel" placeholder="Twój email" [(ngModel)]="email"
                  required email>
              </p>
              <div class="is-error" *ngIf="emailInput.invalid && emailInput.touched">Twój email jest wymagany.</div>
              <p>
                <button type="submit" id="sendLetter" [disabled]="contactForm.invalid" (click)="addClass()">
                  Wyślij
                </button>
              </p>
            </div>
          </form>
        </article>
        <div class="envelope front"></div>
      </div>
      <p class="result-message centered">Dziękuję za twoją wiadomość.</p>
    </div>
  </section>

</div>