<div class="main">
    <!-- Stopka -->
    <section class="footer" id="contact">
        <div class="contact">
          <p class="name">Weronika Puchrowicz</p>
          <div class="details">
            <img class="svg svg-email" src="assets/pictures/icons8-c++.svg">
            <p class="email">puchrowiczw@gmail.com</p>
            <div class="horizontal-wall"></div>
            <img class="svg svg-tel" src="assets/pictures/icons8-c++.svg">
            <p class="tel">+48 725 109 482</p>
            <img class="svg svg-location" src="assets/pictures/icons8-c++.svg">
            <p class="location-drive">ul. Kolejowa </p>
            <p class="location-city">46-380 Turza</p>
          </div>
        </div>
        <div class="links">
          <a href="#home">Strona główna</a>
          <a routerLink="/drawings" routerLinkActive="true">Rysunki</a>
          <a routerLink="/graphics-2d" routerLinkActive="true">Grafika 2D</a>
          <a routerLink="/graphics-3d" routerLinkActive="true">Grafika 3D</a>
        </div>
      </section>
</div>
