<div class="main">
    <!-- Stopka -->
    <section class="footer" id="contact">
        <div class="contact">
          <p class="name">Weronika Puchrowicz</p>
          <span class="line"></span>
          <div class="details">
            <img class="svg svg-email" src="assets/pictures/icons/email-white.png">
            <p class="email">puchrowiczw@gmail.com</p>
            <img class="svg svg-tel" src="assets/pictures/icons/phone-white.png">
            <p class="tel">+48 725 109 482</p>
          </div>
        </div>
        <div class="links">
          <a href="#home">Strona główna</a>
          <a routerLink="/drawings">Rysunki</a>
          <a routerLink="/graphics-2D">Grafika 2D</a>
          <a routerLink="/graphics-3D">Grafika 3D</a>
        </div>
      </section>
</div>
