<div class="body">

    <!-- Struktury -->
    <section class="sect3 hidden">
        <p class="header">Struktury.</p>
        <div class="text-box">
            <p class="text">Rysunki struktur wykonane<br>
                ołówkiem na podstawie zdjęć<br>
                wykonanych w dużym przybliżeniu.</p>
        </div>
        <div class="image-box box1">
            <img class="image1" src="assets\pictures\struktury\19.jpg">
        </div>
        <div class="image-box box2">
            <img class="image2" src="assets\pictures\struktury\20.jpg">
        </div>
        <div class="image-box box3">
            <img class="image3" src="assets\pictures\struktury\21.jpg">
        </div>
    </section>

    <!-- Rysunek -->
    <section class="sect4 hidden">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <p class="header">Rysunek.</p>
        <div class="text-box">
            <p class="text">Rysunki wykonane techniką<br>
                rysunkową w celu zapoznania się<br>
                z anatomią ludzkiej dłoni.</p>
        </div>
        <img class="image1" src="assets\pictures\dłonie\1.png">
        <img class="image2" src="assets\pictures\dłonie\2.png">
        <img class="image3" src="assets\pictures\dłonie\3.png">
        <img class="image4" src="assets\pictures\dłonie\4.png">
        <img class="image5" src="assets\pictures\dłonie\5.png">
        <img class="image6" src="assets\pictures\dłonie\6.png">
        <img class="image7" src="assets\pictures\dłonie\7.png">
        <img class="image8" src="assets\pictures\dłonie\8.png">
        <img class="image9" src="assets\pictures\dłonie\9.png">
    </section>

    <!-- Martwa natura -->
    <section class="sect5 hidden">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <img class="image1" src="assets\pictures\martwa natura\15.jpg">
        <img class="image2" src="assets\pictures\martwa natura\16.jpg">
        <p class="header">Martwa natura.</p>
        <div class="text-box">
            <p class="text">Prace wykonane techniką rysunkową<br>
                przedstawiające martwą naturę.</p>
        </div>
    </section>

</div>