<div class="body" ui-view="main" autoscroll="false">

    <!-- Struktury -->
    <section class="cont-1 hidden">
            <div class="title">
                <p class="header">Struktury.</p>
                <div class="text-box">
                    <p class="text">Rysunki struktur wykonane
                        ołówkiem na podstawie zdjęć
                        wykonanych<br> w dużym przybliżeniu.</p>
                </div>
            </div>
            <div class="images">
                <div class="img-box">
                    <img src="assets\pictures\struktury\19.jpg">
                </div>
                <div class="img-box">
                    <img src="assets\pictures\struktury\20.jpg">
                </div>
                <div class="img-box">
                    <img src="assets\pictures\struktury\21.jpg">
                </div>
            </div>
        <span class="bottom-line"></span>
    </section>

    <!-- Rysunek -->
    <section class="cont-2 hidden">
        <div class="title">
            <p class="header">Rysunek.</p>
            <div class="text-box">
                <p class="text">Rysunki wykonane techniką
                    rysunkową w celu zapoznania się
                    z anatomią ludzkiej dłoni.</p>
            </div>
        </div>
        <div class="grid-container">
            <img style="transform: scale(.75)" src="assets\pictures\dłonie\1.png">
            <img style="transform: scale(.8)" src="assets\pictures\dłonie\9.png">
            <img style="transform: scale(.9)" src="assets\pictures\dłonie\3.png">
            <img style="transform: scale(1.1)" src="assets\pictures\dłonie\4.png">
            <img style="transform: scale(1.1)" src="assets\pictures\dłonie\7.png">
            <img style="transform: scale(.9)" src="assets\pictures\dłonie\5.png">
            <img style="transform: scale(1.2)" src="assets\pictures\dłonie\6.png">
            <img style="transform: scale(1.1)" src="assets\pictures\dłonie\8.png">
            <img style="transform: scale(1.1)" src="assets\pictures\dłonie\2.png">
        </div>
        <span class="bottom-line"></span>
    </section>

    <!-- Martwa natura -->
    <section class="cont-3 hidden">
        <div class="title">
            <p class="header">Martwa natura.</p>
            <div class="text-box">
                <p class="text">Prace wykonane techniką rysunkową
                    przedstawiające martwą naturę.</p>
            </div>
        </div>
        <div class="images">
            <div class="img-box box-1">
                <img class="image-1" src="assets\pictures\martwa natura\15.jpg">
            </div>
            <div class="img-box box-2">
                <img class="image-2" src="assets\pictures\martwa natura\16.jpg">
            </div>
        </div>
        <span class="bottom-line"></span>
    </section>

    <!-- Miejski rytm -->
    <section class="cont-4">
      <div class="title">
        <p class="header">Miejski rytm.</p>
        <div class="text-box">
          <p class="text">Praca wykonana techniką ołówkową. Rysunek
            przedstawia Cour des Voraces, budynek z
            dziedzińcem w dzielnicy Pentes, w 1. dzielnicy Lyonu.</p>
        </div>
      </div>
      <div class="img-box">
        <img src="assets\pictures\miejski_rytm.jpg">
      </div>
    </section> 
</div>