.body {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    overflow-x: hidden;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    width: 95%;
    height: 95%;
    margin: auto;
    margin-bottom: 100px;
}
.title {
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.header {
    font-family: 'Playfair Display', 'serif';
    font-weight: 600;
    font-size: 5rem;
    color: #2e1a1f;
    margin: 0;
    width: 100%;
    text-align: center;
}
.text-box {
    justify-content: center;
    margin: auto;
    width: 50%;
    border-top: 1px solid #000;
    .text {
        width: auto;
        height: auto;
        font-size: 1.3rem;
        text-align: center;
    }
}
.bottom-line {
    width: 70%;
    height: 2px;
    margin: auto;
    margin-top: 100px;
    border-bottom: 1px solid #cd9494;
}

//Struktury
.cont-1 {
    display: flex;
    flex-wrap: wrap;
    .title {
        margin-top: 5%;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        gap: 3rem;
        .img-box {
            position: relative;
            margin: auto;
            z-index: 1;
            img {
                height: 35dvw;
                min-height: 300px;
                margin: auto;
            }
        }
        .img-box::before {
            position: absolute;
            content: '';
            top: -3%;
            left: -4%;
            height: 104.5%;
            width: 108%;
            background-color: #b88f88;
            z-index: -1;
            box-shadow: 0 .5rem 1rem rgba(#000, .5);
        }
    }
}

//Rysunek
.cont-2 {
    display: flex;
    flex-wrap: wrap;
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        width: 95%;
        margin: auto;
        justify-content: center;
        grid-gap: 50px;
        img {
            height: 15dvw;
            min-height: 100px;
            margin: auto;
        }
    }
}

//Martwa natura
.cont-3 {
    display: flex;
    flex-wrap: wrap;
    .images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin: auto;
        gap: 5rem;
        .img-box {
            position: relative;
            margin: auto;
            z-index: 1;
            .image-1 {
                height: 40dvw;
                min-height: 300px;
                margin: auto;
            }
            .image-2 {
                width: 40dvw;
                min-width: 300px;
                margin: auto;
            }
        }
        .img-box::before {
            position: absolute;
            content: '';
            background-color: #b88f88;
            z-index: -1;
            box-shadow: 0 .5rem 1rem rgba(#000, .5);
        }
        .box-1::before {
            top: -3%;
            left: -4%;
            height: 104.5%;
            width: 108%;
        }
        .box-2::before {
            top: -5%;
            left: -3.5%;
            height: 107.5%;
            width: 107%;
        }
    }

}

.cont-4 {
    display: flex;
    flex-wrap: wrap;
    .img-box {
        position: relative;
        margin: auto;
        z-index: 1;
        img {
            height: 40dvw;
            min-height: 300px;
            margin: auto;
        }
    }
    .img-box::before {
        position: absolute;
        content: '';
        top: -3%;
        left: -4%;
        height: 104.5%;
        width: 108%;
        background-color: #b88f88;
        z-index: -1;
        box-shadow: 0 .5rem 1rem rgba(#000, .5);
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .header {
        font-size: 4rem;
    }
    .text-box .text {
        font-size: 1.3rem;
    }
    .cont-2 .grid-container img {
        height: 15dvw;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .header {
        font-size: 3rem;
    }
    .text-box .text {
        font-size: 1.1rem;
    }
}
 
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .title {
        margin-bottom: 5%;
    }
    .header {
        font-size: 2rem;
    }
    .text-box {
        margin: auto;
        .text {
            font-size: 1rem;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    section {
        margin-bottom: 10%;
    }
    .title{
        margin-left: 5%;
        display: block;
    }
    .header {
        font-size: 1.5rem;
        text-align: left;
    }
    .text-box {
        margin-left: 30px;
        width: 80%;
        border-top: 0;
        border-left: 1px solid #000;
        .text {
            font-size: .8rem;
            margin-left: 20px;
            margin-bottom: 8%;
            text-align: left;
        }
    }
    .bottom-line {
        margin-top: 10%;
    }

    .cont-1 .images .img-box, .cont-4 .img-box {
        margin-bottom: 5%;
        img {
            min-height: 250px;
        }
    }
    .cont-2 .grid-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 20px;
        img {
            height: 20vw;
        }
    }
}