<div class="body" ui-view="main" autoscroll="false">

  <!-- Opole -->
  <section class="cont-1">
    <div class="title">
      <p class="header">Opole.</p>
      <div class="text-box">
        <p class="text">Grafika przedstawiająca miasto Opole
          wykonana w programie graficznym Affinity.</p>
      </div>
    </div>
    <div class="img-box">
      <img src="assets\pictures\opole.png">
    </div>
    <span class="bottom-line"></span>
  </section>

  <!-- Grafika -->
  <section class="cont-2">
    <div class="title">
      <p class="header">Grafika.</p>
      <div class="text-box">
        <p class="text">Wzór stworzony na podstawie graficznego,
          uproszczonego wyglądu kminku.</p>
      </div>
    </div>
    <div class="images">
      <div class="img-box box-1">
        <img class="image-1" src="assets\pictures\grafika\34.jpg">
      </div>
      <div class="img-box box-2">
        <img class="image-2" src="assets\pictures\grafika\18.png">
      </div>
    </div>
    <span class="bottom-line"></span>
  </section>

  <!-- Smart planer -->
  <section class="cont-3">
    <div class="title">
      <p class="header">Smart planer.</p>
      <div class="text-box">
        <p class="text">Projekt szaty graficznej programu
          użytkowego, planeru internetowego.</p>
      </div>
    </div>
    <div class="images">
      <div class="img-box-1">
        <img src="assets\pictures\smartplaner\4.png">
      </div>
      <div class="img-box-2">
        <img src="assets\pictures\smartplaner\1.png">
        <img src="assets\pictures\smartplaner\2.png">
        <img src="assets\pictures\smartplaner\3.png">
      </div>
    </div>
    <span class="bottom-line"></span>
  </section>

  <!-- Ulotka -->
  <section class="cont-4">
    <div class="title">
      <p class="header">Ulotka.</p>
      <div class="text-box">
        <p class="text">Ulotka wykonana w celu przedstawienia twórczości.</p>
      </div>
    </div>
    <div class="images">
      <img src="assets\pictures\ulotka\1.jpeg">
      <img src="assets\pictures\ulotka\2.jpeg">
      <img src="assets\pictures\ulotka\3.jpeg">
    </div>
    <span class="bottom-line"></span>
  </section>

  <!-- Ekolampa -->
  <section class="cont-5">
    <div class="title">
      <p class="header">Ekolampa.</p>
      <div class="text-box">
        <p class="text">Lampa w całości wykonana z metalowych kapsli
          z butelek po napojach. Jako element oświetleniowy
          wykorzystano sznur lampek choinkowych. Dzęki
          przestrzeniom powstałym pomiędzy sklejonymi
          kapslami uzyskany został niezwykły efekt świetlny.</p>
      </div>
    </div>
    <div class="images">
      <div class="img-box-1">
        <img class="image-1" src="assets\pictures\lampa\17b.jpg">
        <img class="image-2" src="assets\pictures\lampa\17a.jpg">
      </div>
      <div class="img-box-2">
        <img src="assets\pictures\lampa\17c.jpg">
        <img src="assets\pictures\lampa\17d.jpg">
      </div>
    </div>
    <span class="bottom-line"></span>
  </section>

  <!-- Hard Beans -->
  <section class="cont-6">
    <div class="title">
      <p class="header">Hard Beans.</p>
      <div class="text-box">
        <p class="text">Projekty etykiet na opakowania nowej linii kosmetyków na bazie fusów po kawie
          Firmy Hard Beans Coffe Roaster stworzone w ramach praktyk studenckich.</p>
      </div>
    </div>
    <div class="img-box-1">
      <img src="assets\pictures\praktyki\1.png">
      <img src="assets\pictures\praktyki\2.png">
      <img src="assets\pictures\praktyki\3.png">
    </div>
    <div class="img-box-2">
      <img class="image-1" src="assets\pictures\praktyki\sample_scrub.png">
      <img class="image-2" src="assets\pictures\praktyki\sample_oil.png">
    </div>
  </section>
</div>